.input{
    position: absolute;
    top: 5%;
    left: 5%;
}

.input div {
    margin-top: 20px; 
}

.output{
    width: 1000px;
    height: 550px;
    position: absolute;
    top: 10%;
    right: 0;
}
.output div{
    width: 450px;
    height: 500px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 30px;
}

.recovery .output_text{
    width: 400px;
    height: 450px;
    position: absolute;
    top: 5%;
    left: 5%;
    overflow: auto;
    font-size: 15px;
}

.not_recovery .output_text{
    width: 400px;
    height: 450px;
    position: absolute;
    top: 5%;
    right: 5%;
    overflow: auto;
    font-size: 15px;
}

.rec, .not_rec{
    margin-left: 100px;
}

.output_num{
    width: 200px;
    left: 100px;
    position: absolute;
    top: 20%;
    right: 10%;
}

.output_num div{
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.output_num label{
    display: inline-block;
}

.error{
    width: 170px;
    height: 100px;
    position: absolute;
    bottom: 5%;
    left: 5%;
    border: 1px solid black;
    border-radius: 20px;
}

.output_error{
    width: 150px;
    height: 50px;
    position: absolute;
    top: 25%;
    right: 5%;
    overflow: auto;
    font-size: 15px;
}

.text_error{
    margin-left: 60px;
}

.button{
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: 25%;
    left: 5%;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    justify-content: center; 
    align-items: center;
    display: flex;
}